.item-list-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.caliber-list {
    list-style: none;
    padding: 0;
}

.card-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}